OC Daily COVID-19 Testing Data Export
=====================================

CSV Path: {{ export.csv_path }}

Start Date: {{ export.start_date }}
End Date: {{ export.end_date }}
Rows: {{ export.dates|length }}
