OC Daily COVID-19 Data Export
=============================

CSV Path: {{ service.daily_csv_path }}

Start Date: {{ service.start_date }}
End Date: {{ service.end_date }}
Rows: {{ service.dates|length }}

Version: {{ service.VERSION }}
OC HCA Extract Version: {{ service.oc_hca_extract.VERSION }}
