OC COVID-19 Immunity Data Export
=====================================

CSV Path: {{ export.csv_path }}

Infectious: {{ latest['infectious'] }}
Recovered:  {{ latest['recovered'] }}
Vaccinated: {{ latest['vaccinated'] }}

Start Date: {{ export.starts_on }}
End Date: {{ export.ends_on }}
Rows: {{ export.dates|length }}
