COVID-19 Days to Report Cases
Estimates based on OC HCA data
number of tests: {{ num_tests }}

CSV Path: {{ csv_path }}

Average Wait: {{ "%.2f"|format(analysis.average_days_to_report) }} days
Wait Time Distribution: {{ analysis.wait_time_frequencies }}
