OC COVID-19 Wastewater Data Export
=====================================

CSV Path: {{ export.csv_path }}
End Date: {{ export.ends_on }}
Start Date: {{ export.starts_on }}

Newest OC Sample: {{ export.newest_oc_sample }}
