OC COVID-19 Wastewater Data Export
=====================================

CSV Path: {{ export.csv_path }}
End Date: {{ export.ends_on }}

Newest CAL3 Sample: {{ export.extract.latest_update_by_lab('CAL3') }}
Newest DWRL Sample: {{ export.extract.latest_update_by_lab('DWRL') }}

Lab Counts: {{ export.extract.lab_counts }}

Start Date: {{ export.starts_on }}
