OC COVID-19 Wastewater Data Export
=====================================

CSV Path: {{ export.csv_path }}
End Date: {{ export.ends_on }}

Newest CAL3 Sample: {{ export.extract.newest_samples['CAL3'][0] }}
Newest DWRL Sample: {{ export.extract.newest_samples['DWRL'][0] }}

Start Date: {{ export.starts_on }}
